.blogs {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: auto;
    padding-top: 120px;
    gap: 50px;
    margin-bottom: 50px;
    min-height: calc(100vh - 303px);
    font-family: "Dosis", sans-serif;

    h1 {
        font-size: 60px;
        font-weight: bold;
        text-shadow: 3px 6px RGBA(0, 0, 0, 1);
        letter-spacing: 2px;
        font-family: "Lato";
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
